__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
.uv-cache/
.idea/
.vscode/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
outputs/*
!outputs/.gitkeep

catboost_info/
*.log
*.7z
*.zip
